<launch>

    <node name="DistanceToWall" pkg="distance_to_wall" type="DistanceToWall" output="screen">
        <param name="DebugMode" type="bool" value="false"/>
        <param name="Frequency" type="int"  value="10"/>

        <!-- Output = a * Input + b -->
        <param name="Left_a"  type="double"  value="5.0"/>
        <param name="Left_b"  type="double"  value="0.0"/>
        <param name="Right_a" type="double"  value="0.0"/>
        <param name="Right_b" type="double"  value="0.0"/>

    </node>

</launch>
